nav{
    height: 70px;
    display: flex;
    padding:20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo{
   height: 90px;
   width: 150px;
}
.grid{
    height: 600px;
width: 1000px;
margin-top:100px;
margin-left:10px;
border-radius: 8.949999809265137px;
align-self:center;
}
.second-head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 110%;
    margin-left:200px;
}
.second-para{
    width: 620px;
height: 0px;
left: 76px;
top: 416px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 37px;
line-height: 110%;
margin-left:200px;
}
.second{
    display:flex;
    flex-direction:column;
}
.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; 
    position:relative;
}

.card-image {
    width:300px;
    height: 450px;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
    font-size:30px;
}

.card--stars {
    height: 15px;
}
.cards-list {
    height: 750px;
    margin-top: 200px;
    display: flex;
    flex-wrap: nowrap;
    gap: 200px;
    overflow-x: auto;
    position:center;
    margin-left:150px;
}
.card--badge {
  position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
    
}
.title{
    margin-top: 0px;
    margin-bottom: 0px;
}
.papa{
    margin-top: 0px;
}